.admin-info {
  @include adminUserInfo();
  padding-bottom: 0;

  p {
    padding: 20px 40px;
    border-radius: 7px;
    border: 1px solid $accent-light;
    @include shadow();
    background-color: $background-white;
  }

  span {
    font-weight: 400;
    color: $accent-dark;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 30px;
  background-color: $background-light;

  .search-wrapper {
    display: flex;
    width: 100%;
    padding-top: 15px;

    input {
      @include input(7px 0 0 7px);
      @include shadow();
    }

    .search-user-btn,
    .date-btn {
      @include inputLabel(0 7px 7px 0);
    }
  }
}

.info {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.7rem;
  color: $accent-medium;

  .user-choice {
    border: 1px solid $accent-medium;
    text-align: center;
    padding: 15px;
    margin: 30px;
    @include shadow();
    border-radius: 7px;
    min-width: 280px;

    &:hover {
      @include buttonHover();
    }
  }
}

.user {
  margin-top: 30px;
  font-size: 1.7rem;

  .user-data {
    padding: 15px;
    text-align: center;
  }
}

#logout {
  @include button(1.4rem, 100px, 5px);
  @include shadow();
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: $accent-medium;
  color: $font-light;
  margin-top: 0;

  &:hover {
    filter: opacity(90%);
    transition: filter .5s;
  }
}

.user-history {
  @include button(1.4rem, 300px, 5px);

  &:hover {
    @include statusHover($accent-light, $font-light)
  }
}

.cancel-btn {
  @extend .book-btn;

  &:hover {
    color: $alert-error;
  }
}

.hidden-label {
  position: absolute;
  filter: opacity(0%);
}