.past {
  @include borderStatus($accent-light);

  &:hover {
    @include statusHover($accent-light, $font-light);
  }
}

.present {
  @include borderStatus($alert-success);

  &:hover {
    @include statusHover($alert-success, $font-light);
  }
}

.upcoming {
  @include borderStatus($accent-medium);

  &:hover {
    @include statusHover($accent-medium, $font-light);
  }
}

.residential {
  @include borderStatus($accent-medium);

  &:hover {
    @include statusHover($accent-medium, $font-light);
  }
}

.suite {
  @include borderStatus($accent-light);

  &:hover {
    @include statusHover($accent-light, $font-light);
  }
}

.single {
  @include borderStatus($alert-success);

  &:hover {
    @include statusHover($alert-success, $font-light);
  }
}

.junior {
  @include borderStatus($alert-warning);

  &:hover {
    @include statusHover($alert-warning, $font-light);
  }
}

.rooms-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto 0 auto;

  button {
    @include button(1.4rem, 100%, 15px);
    min-height: 85px;
    margin-top: 0;
    color: $font-light;
    border: none;
    justify-self: center;

    &:hover {
      filter: opacity(80%);
      transition: filter .5s;
    }
  }

  [id='residential suite'] {
    background-color: $accent-medium;
  }

  [id='single room'] {
    background-color: $alert-success;
  }

  #suite {
    background-color: $accent-light;
  }

  [id='junior suite'] {
    background-color: $alert-warning;
  }

  [id='ALL ROOMS'] {
    background-color: $accent-dark;
  }

  #queen,
  #full,
  #king,
  #twin {
    background-color: $background-medium;
  }

  [id='1'],
  [id='2'] {
    background-color: $background-medium-dark;
  }

  [id='MIN price'] {
    background-color: $alert-success;
  }

  [id='MAX price'] {
    background-color: $alert-error;
  }
}

.book-btn {
  @include alertButton();

  &:hover {
    @include alertButtonHover($alert-success);
  }
}

.user-data {
  [id='residential suite'] {
    color: $accent-medium;
  }

  [id='single room'] {
    color: $alert-success;
  }

  #suite {
    color: $accent-light;
  }

  [id='junior suite'] {
    color: $alert-warning;
  }
}