.user-header {
  background-image: linear-gradient(rgba(2, 44, 116, 0.425), rgba(2, 44, 116, 0.9)), url(../images/hotel3.jpg);
}

.user-info {
  @include adminUserInfo();

  button {
    @include button(1.4rem, 50%, 5px);

    &:hover {
      @include buttonHover();
    }

    margin-top: 0;

  }
}

.date {
  position: absolute;
  left: 15px;
  top: 15px;
}

.user-bookings,
.rooms {
  @include rooms();
}

.user-booking,
.room {
  @include room();

  .left,
  .right {
    width: 50%;
    padding: 15px;
  }
}

.past {
  @include borderStatus($accent-light);

  &:hover {
    @include statusHover($accent-light, $font-light);
  }
}

.present {
  @include borderStatus($alert-success);

  &:hover {
    @include statusHover($alert-success, $font-light);
  }
}

.upcoming {
  @include borderStatus($accent-medium);

  &:hover {
    @include statusHover($accent-medium, $font-light);
  }
}

.residential {
  @include borderStatus($accent-medium);

  &:hover {
    @include statusHover($accent-medium, $font-light);
  }
}

.suite {
  @include borderStatus($accent-light);

  &:hover {
    @include statusHover($accent-light, $font-light);
  }
}

.single {
  @include borderStatus($alert-success);

  &:hover {
    @include statusHover($alert-success, $font-light);
  }
}

.junior {
  @include borderStatus($alert-warning);

  &:hover {
    @include statusHover($alert-warning, $font-light);
  }
}

.rooms-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

  button {
    @include button(1.4rem, 100%, 15px);
    color: $font-light;
    border: none;
    justify-self: center;

    &:hover {
      filter: opacity(80%);
      transition: filter .5s;
    }
  }

  #residential {
    background-color: $accent-medium;
  }

  #single {
    background-color: $alert-success;
  }

  #suite {
    background-color: $accent-light;
  }

  #junior {
    background-color: $alert-warning;
  }
}

.user-data {
  #residential {
    color: $accent-medium;
  }

  #single {
    color: $alert-success;
  }

  #suite {
    color: $accent-light;
  }

  #junior {
    color: $alert-warning;
  }
}