.user-header,
.admin-header,
.login-header {
  @include header(40vh);
  background-image: linear-gradient(rgba(2, 44, 116, 0.425), rgba(2, 44, 116, 0.9)), url(../images/hotel2.jpg);

  .title-wrapper,
  .admin-title-wrapper,
  .user-title-wrapper {
    margin: auto;
  }

  h1 {
    @include h1(7rem);
    font-weight: 200;
  }

  p {
    @include headerP();
  }
}

.admin-title-wrapper,
.user-title-wrapper,
.title-wrapper,
button,
.room,
.user-booking {
  cursor: pointer;
}

.user-login,
.admin-login {
  @include login();
  margin-top: 30px;

  .login-item {
    display: flex;
    padding: 15px;
    width: 80%;

    input {
      @include input(0 7px 7px 0);
    }

    label {
      @include inputLabel(7px 0 0 7px);
    }
  }

  button {
    @include button(1.6rem, 40%, 10px);

    &:hover {
      @include buttonHover();
    }
  }

  a {
    color: inherit;
    margin-top: 15px;
  }
}

.user-entry,
.admin-entry {
  @include header(100vh);

  #user-enter,
  #admin-enter {
    @include button(3rem, 50%, 100px 10px);
    color: $font-light;
    border: 2px solid $font-light;
    margin: auto;
    text-align: center;

    &:hover {
      @include buttonHover();
    }
  }
}

.user-entry {
  background-image: linear-gradient(rgba(2, 44, 116, 0.425), rgba(2, 44, 116, 0.9)), url(../images/hotel4.jpg);
}

.admin-entry {
  background-image: linear-gradient(rgba(2, 44, 116, 0.425), rgba(2, 44, 116, 0.9)), url(../images/hotel5.jpg);
}