$font-light: #fafafa;
$font-medium: #383838;
$font-dark: #131313;
$background-light:#e7e7e7;
$background-medium: #b3b3b3;
$background-dark: #222222;
$accent-light: #ffc8cd;
$accent-medium: #a01c1c;
$accent-dark: #250000;
$alert-error: #fc0015;
$alert-success: #00940c;
$alert-warning: #f5ba1a;