// @import '.css/_normalize.scss';
@import './_variables';
@import './_mixins';
@import './_login';
@import './_user-admin-login';
@import './_user';
@import './_admin';
@import './_bookings';
@import './_footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}