.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  color: #fafafa;
  text-align: center;
  height: 60vh;
  background-color: #b3b3b3;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 44, 116, 0.425)), to(rgba(2, 44, 116, 0.9))), url(../images/hotel1.jpg);
  background-image: linear-gradient(rgba(2, 44, 116, 0.425), rgba(2, 44, 116, 0.9)), url(../images/hotel1.jpg);
}

.header .title-wrapper {
  margin: auto;
}

.header h1 {
  font-size: 7rem;
}

.header p {
  font-size: 1.5rem;
  font-weight: 300;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login button {
  color: #132E88;
  font-size: 2rem;
  font-weight: 300;
  background-color: transparent;
  border: 1px solid #132E88;
  width: 50%;
  margin-top: 30px;
  padding: 15px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.login button:hover {
  -webkit-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
  background-color: #132E88;
  color: #fafafa;
}

.user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  color: #fafafa;
  text-align: center;
  height: 40vh;
  background-color: #b3b3b3;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 44, 116, 0.425)), to(rgba(2, 44, 116, 0.9))), url(../images/hotel2.jpg);
  background-image: linear-gradient(rgba(2, 44, 116, 0.425), rgba(2, 44, 116, 0.9)), url(../images/hotel2.jpg);
}

.user-header .title-wrapper {
  margin: auto;
}

.user-header h1 {
  font-size: 7rem;
}

.user-header p {
  font-size: 1.5rem;
  font-weight: 300;
}

.user-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  color: #fafafa;
  text-align: center;
  height: 40vh;
  background-color: #b3b3b3;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 44, 116, 0.425)), to(rgba(2, 44, 116, 0.9))), url(../images/hotel3.jpg);
  background-image: linear-gradient(rgba(2, 44, 116, 0.425), rgba(2, 44, 116, 0.9)), url(../images/hotel3.jpg);
}

.admin-header .title-wrapper {
  margin: auto;
}

.admin-header h1 {
  font-size: 7rem;
}

.admin-header p {
  font-size: 1.5rem;
  font-weight: 300;
}

.admin-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  color: #fafafa;
  background: #222222;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  margin-top: 300px;
}

footer p {
  padding-bottom: 15px;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-icons a {
  text-decoration: none;
  color: inherit;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.media-icons a:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.media-icons .media-icon {
  font-size: 2rem;
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  font-weight: 200;
}
/*# sourceMappingURL=base.css.map */